{% extends 'layout.html' %}

{% block body %}

<div class="col-md-4 offset-md-4">
  <div class="card card-body">
    <form action="/updatemedal/{{olimpicos.0}}" method="POST">

      <div class="form-group">
        <input type="text" name="Pais" placeholder="Pais" value="{{olimpicos.0}}" class="form-control">
      </div>

      <div class="form-group">
        <input type="text" name="Oro" placeholder="Oro" value="{{olimpicos.1}}" class="form-control">
      </div>

      <div class="form-group">
        <input type="text" name="Plata" placeholder="Plata" value="{{olimpicos.2}}" class="form-control">
      </div>

      <div class="form-group">
        <input type="text" name="Bronce" placeholder="Bronce" value="{{olimpicos.3}}" class="form-control">
      </div>
      
      <div class="form-group">
        <button type="submit" class="btn btn-success btn-block">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}